body{
	margin:0;
}

#logArea{
	position:absolute;
}

#log{
	color:#fff;
	margin: 10px;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

#loglist{
	color:#fff;
	margin: 10px;
	font-family: monospace;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

#previewVideo{
	position:absolute;
	width:300px;
	height:200px;
	right:10px;
	top:10px;
}

#gameUi{
	/* position:absolute; */
}

#gunStatus{
	position:absolute;
	right:10px;
	bottom:10px;
	color:white;
}

#healthStatus{
	position:absolute;
	left:10px;
	bottom:10px;
	color:white;
}

.health-bar {
	position: relative;
	float: left;
	margin-bottom: 5px;
	box-sizing: border-box;
	width: 150px;
	height: 20px;
	padding: 5px;
	background: #c2c2c2;
	border-radius: 8px;
}

.flesh-bar {
	position: relative;
	background: #d35746;
	width: 100%;
	height: 10px;
	transition: width .5s linear;
}

.health-number {
	float: left;
}

.health-number p {
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-left: 5px;
}

#crosshair{
	position:absolute;
	top:calc(50% - 20pt);
	left:calc(50% - 20pt); /* space is required */
	width: 40pt;
	height: 40pt;
	background:url("assets/crosshairs.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-size:50px;
}
/* TODO: rewrite using var https://stackoverflow.com/questions/57218443/how-to-animate-a-radial-gradient-using-css */
@keyframes damage-effect {
	from {background: radial-gradient(rgba(255,0,0,0),rgba(255,0,0,0.3));}
	to {background: radial-gradient(rgba(255,0,0,0),rgba(255,0,0,0));;}
}

#damage-effect{
	position:absolute;
	animation-name: damage-effect;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-color: radial-gradient(rgba(255,0,0,0),rgba(255,0,0,0.3));
	animation-duration: 4s;
}