body{
	margin:0;
}

#logArea{
	position:absolute;
}

#log{
	color:#fff;
	margin: 10px;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

#loglist{
	color:#fff;
	margin: 10px;
	font-family: monospace;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

#previewVideo{
	position:absolute;
	width:300px;
	height:200px;
	right:10px;
	top:10px;
}

#gameUi{
	/* position:absolute; */
}

#gunStatus{
	position:absolute;
	right:10px;
	bottom:10px;
	color:white;
}

#healthStatus{
	position:absolute;
	left:10px;
	bottom:10px;
	color:white;
}

.health-bar {
	position: relative;
	margin-bottom: 5px;
	box-sizing: border-box;
	width: 150px;
	height: 20px;
	padding: 5px;
	background: #c2c2c2;
	border-radius: 8px;
}

.armour-bar {
	position: relative;
	background: #5066ff;
	width: 100%;
	height: 10px;
	transition: width .5s linear;
}

.flesh-bar {
	position: relative;
	background: #d35746;
	width: 100%;
	height: 10px;
	transition: width .5s linear;
}

.hit {
	background: rgba(255,255,255,0.6);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 0;
	transition: width .5s linear;
}

#crosshair{
	position:absolute;
	bottom:50%;
	top:50%;
	left:50%;
	right:50%;
	color:white;
	background-color:rgba(0,0,0,0);
	font-size:50px;
}